/.idea/
TFG.iml

/.ipynb_checkpoints/

/out/detected*
/out/face-detector*
/out/frames*
/out/model
/out/nn-failed-pairs-sample
/out/nn-embeddings-pairs

/src/facedetector/calidad_imagen.ipynb
/src/facedetector/.ipynb_checkpoints/
/src/facedetector/ejemplo.png
/src/facedetector/shape_predictor_68_face_landmarks.dat
/src/facedetector/mmod_human_face_detector.dat
/src/model/facenet_keras.h5
/src/model/facenet_keras_weights.h5

/src/*/__pycache__/

pedro-exp.ipynb